
<h2>MedDevices</h2>

<form id="genData" method="get"  action="/prototype/genData">

  <select name="device">
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
    <button id="createDataBtn">Click to Create Data</button>

</form>

<form id="submitDataLog" method="get"  action="/prototype/submitDataLog">

  <select name="device">
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
    <button id="submitDataBtn" >Click to Submit Data</button>
    <img src="http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0.gif" id='submitting'/ >
</form>


<!-- <script type="text/javascript">
  $("#loadingMyData").hide();
 $('#decryptBtn').click(function(){
    $.post("/prototype/decryptRSA",{cipher:$("#userText").text()},function(data,status){
      
      $('#userText').text(data);
      
    });
  });
  
  $('#viewDataBtn').click(function(){
    
    $("#loadingMyData").show();
    // $.get("/prototype/userView",{device:$('#device').val()},function(data,status){
    //   $("#loadingMyData").hide();
    //     // $('#userText').text(data);
        
    //   });
  }); -->
</script>
