
<h2>MedDevices</h2>

<form id="genData" method="get"  action="/prototype/genData">

  <select name="device">
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
    <button id="createDataBtn">Click to Create Data</button>

</form>

<form id="submitDataLog" method="get"  action="/prototype/submitDataLog">

  <select name="device">
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
    <button id=submitDataBtn"">Click to Submit Data</button><img src="http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0.gif" id='submittingData'/ >

<script type="text/javascript">
  $('#submittingData').hide();
  $('submitDataBtn').click(function(){
    $('#submittingData').show();
  })
</script>