
<table id="middleTextTable">
    
        <h2 id='midTextTitle'><%=midTextTitle%></h2>
    

    <%for(var i=middleText.length-1;i>=middleText.length-5;i--){%>
        <tr>
            <td><%=middleText[i]%></td>
        </tr>
    <%}%>
        <tr>
            <td>...</td>
        </tr>

</table>
</form>