
<table id="middleTextTable">
    
        <h2>Event Log</h2>
    

    <%for(var i=middleText.length-1;i>=middleText.length-3;i--){%>
        <tr>
            <td><%=middleText[i]%></td>
        </tr>
    <%}%>

</table>
</form>