<!DOCTYPE objects.html>
<html>

<head>
    <title>Initializing...</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' href='/assets/css/main.css' />
</head>

<body class="w3-light-grey">
    <img src='http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0-50.gif' id='initting' />
<table>
    <%for(var i=log.length-1;i>=0;i--){%>
        <tr>
            <td><%=log[i]%></td>
        </tr>
    <%}%>
</table>
    <script type="text/javascript">
        $(document).ready(function () {
            /*Call init router to update the event log*/
            $.get('/prototype/init', function (data, status) {
                    var url = "/prototype/init";
                    $(location).attr("href", url);
                }
            );

        });
    </script>

</body>

</html>