<!DOCTYPE objects.html>
<html>
<head>
	<title>Patients and Devices</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script data-main="./controllers/objects" src="../../ust-blockchian/Code/require.js" ></script>
	<script type="text/javascript">
		function patientRow(patient){
		    
		    
		    var row="<tr>";
		    row+="<td>"+patient.patientID+"</td>";
		    
		    row+="<td>"+patient.patientName+"</td>";
		    row+="<td>"+patient.emKey+"</td>";
		    row+="<td>"+patient.publicKey+"</td>"; 
		    row+="<td>"+patient.privateKey+"</td>";
		    // var row="yo";
		    // $("#dum").hide();
		    row+="</tr>";
		    return row;
		}	
		function printPatientTable(plist){
				$("#PatientTable").html("<table id='PatientTable'><tr><th>PatientID</th><th>PatientName</th><th>PatientEmKey</th><th>PatientPubKey</th><th>PatientSecKey</th></tr></table>");
				var p;
				// We need for..of loop to iterate an array. We use for..in loop to iterate a dictionary.
				for(p of plist){
					$("#PatientTable").append(patientRow(p));

				}
				return;
		}
	</script>
</head>

<body class="w3-light-grey">
	<h1>This webpage will guide you through the functionalities of Patient and MedDevice</h1>
	
	<h2>Creation of Patient</h2>

	<form id="PtCreateForm">
		<!-- <fieldset>
			<legend>Input Basic Info for Patient</legend> -->
			PatientID:
			<input type="textbox" name="PatientID" id="PtID">
			<br>
			PatientName:
			<input type="textbox" name="PatientName" id="PtName">
			<br>
			
		<!-- </fieldset> -->
	</form>
	<!-- We should not put the bottom in to the form, otherwise javascript will think we are sending message to a php file! -->
	<button id="PatientCreate">Click to Create Patient</button>
	<table id="PatientTable">
				<tr>
					<th>PatientID</th>
					<th>PatientName</th>
					<th>PatientEmKey</th>
					<th>PatientPubKey</th>
					<th>PatientSecKey</th>
				</tr>
				</table>
	<script type="text/javascript" async="false">
		
		var patientList=[];
		$("#PtCreateForm").show();
		
		$("#PatientCreate").click(function(){

			var p=new patient($("#PtID").val(),$("#PtName").val());	
			
			patientList.push(p);
			printPatientTable(patientList);
			
			//For now, hide the form after the patient is created.
			// $("#PtCreateForm").hide();
			// $("#PatientCreate").hide();
		});
	</script>

	<form id="EmEncrypt">
		Please input the emergency message:
		<input type="textbox" name="message" id="PlainMsg"><br>
		Please indicate whose emKey you would like to use(specify patient id):
		<input type="textbox" name="patientID" id="EmEncID">			
	</form>
	<button id="Encrypt">Encrypt</button> CipherText:<text id="CipherText"></text>
	<br>

	<form id="EmDecrypt">
		<br>
		Please input the ciper text:
		<input type="textbox" name="CipherText" id="CMsg"><br>
		Please indicate whose emKey you would like to use(specify patient id):
		<input type="textbox" name="patientID" id="EmDecID">			
	</form>
	<button id="Decrypt">Decrypt</button> Decrypted Message:<text id="DecMsg"></text>

	<script type="text/javascript">
		var encID=$("#EmEncID").val();
		var decID=$("#EmDecID").val();

		$("#Encrypt").click(function(){
			var emKey;
			var patient;
			for(patient of patientList)
			{
				if(patient.patientID==encID)
					{
						break;
					}
			}
			var plaintext=$("#PlainMsg").val();
			$("#CipherText").html(""+patient.encryptEm(plaintext));
				console.log(""+patient.encryptEm(plaintext));
		});
		
		$("#Decrypt").click(function(){
			var emKey;
			var patient;
			for(patient of patientList)
			{
				if(patient.patientID==decID)
					{
						break;
					}
			}
			var CipherText=$("#CMsg").val();
			$("#DecMsg").html(""+patient.decryptEm(CipherText));
				
		});
		
	</script>
	
</body>
</html>