<!DOCTYPE objects.html>
<html>
<head>
    <title>Prototype</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/assets/css/main.css' />
</head>

<body class="w3-light-grey">
<h1>This webpage will show the interaction between Patient and MedDevices</h1>

<%- include device.ejs %>

<%- include eventLog.ejs %>

<%- include user.ejs %>

</body>
</html>