<!DOCTYPE objects.html>
<html>

<head>
    <title>Prototype2</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/assets/css/main.css' />
</head>

<body>
    <!-- <h1>This webpage will show the interaction between Patient and MedDevices</h1> -->

    <!-- These three should be displayed in coloumns -->

    <style>
        #deviceView {
            text-align: center;
        }

        #eventLog {
            padding-left: 30px;
            padding-right: 30px;
        }

        #userView {
            text-align: center;
        }
    </style>

<div class="w3-row">
    <div class="w3-col m5 l5 w3-panel" id='deviceView'>
        <%- include device.ejs %>
    </div>

    <div class="w3-col m3 l3 w3-panel" id='eventLog'>
        <%- include eventLog.ejs %>
    </div>

    <div class="w3-col m4 l4 w3-panel" id='userView'>
        <div class="w3-display-container">
            <img src="/images/phone-frame.png">
            <div class="w3-display-middle w3-cell-colomn" style="width:236px;">
                <%- include user.ejs %>
            </div>
            <div class="w3-display-middle"><img src="http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0.gif" id='loadingMyData'/ ></div>
        </div>
    </div>

</div>


    <script type="text/javascript">
    $(document).ready(function(){

        $('#submitting').hide();
        /*$('#submitDataBtn').click(function () {
            $('#submitting').show();
            //console.log('you');
        });*/

        $("#loadingMyData").hide();
        

        /*$('#viewDataBtn').click(function () {
            $("#loadingMyData").show();
             console.log('haha');
        });*/
});
    </script>

</body>

</html>