<div class="w3-bar w3-cell" style="position: relative; padding-left:15%; padding-top:20%">
  <button class="w3-bar-item w3-indigo" style="background-color: red;" id="measureBtn1">Measure BP</button>

  <button class="w3-bar-item w3-indigo" style="background-color: blue;" id="measureBtn2">Measure Weight</button>
</div>
<div class="w3-bar w3-cell" style="position: relative; padding-left:15%; padding-top:10%">
  <button class="w3-bar-item w3-indigo" id="viewDataBtn1">View BP</button>
  <button class="w3-bar-item w3-indigo" id="viewDataBtn2">View Weight</button>
</div>

<div class="w3-display-middle w3-cell-colomn" style="float: right;max-width: 80%; padding-right: 10%;">

  <p  readonly='readonly' id='userText' style="overflow: auto;border:solid forestgreen;">
    <%=userText%>
  </p>
  <button id='decryptBtn'>Decrypt</button>

</div>



<script type="text/javascript">
  $('#viewDataBtn1').click(function () {
    $('#loadingMyData').show();
    $.get("/prototype/userView", { device: 1 }, function (data, status) {
      location.reload();
    });
  });
  $('#viewDataBtn2').click(function () {
    $('#loadingMyData').show();
    $.get("/prototype/userView", { device: 2 }, function (data, status) {
      location.reload();
    });
  });

  $('#decryptBtn').click(function () {
    $.post("/prototype/decryptRSA", { cipher: $("#userText").text() }, function (data, status) {
      $('#userText').text(data);
    });
  });



  $('#measureBtn1').click(function () {
    $.get("/prototype/genData", { device: 1 }, function (data, status) {
      alert("Data: " + data + "\nStatus: " + status);
      location.reload();
    });
  });

  $('#measureBtn2').click(function () {
    $.get("/prototype/genData", { device: 2 }, function (data, status) {
      alert("Data: " + data + "\nStatus: " + status);
      location.reload();
    });
  });

</script>