
<div class="w3-bar w3-cell" >
  <button class="w3-bar-item w3-indigo" id="viewDataBtn1">View BP</button>
  <button class="w3-bar-item w3-indigo" id="viewDataBtn2">View Weight</button>
  <img src="http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0.gif" id='querying_1' />
  <img src="http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0.gif" id='querying_2' />

</div>

<div class="w3-cell-colomn" >

  <textarea readonly='readonly' style="min-height: 260px" id='userText' >
    <%=userText%>
  </textarea>
  <button id='decryptBtn'>Decrypt</button>

  <div class="w3-cell-colomn" >
    <button id='enterEmergency' style="background-color: black">
      <font color="gold">Emergency</font>
    </button>
  </div>

</div>

<script type="text/javascript">
  $('#enterEmergency').click(function () {
    $('#normalView').hide();
    $("#newEmergency").hide();
    $("#querying_3").hide();
    $('#Updating').hide();
    $("#emDataDisplay").hide();

    $("#Update").show();
    $("#viewDataBtn3").show();
    $('#emergencyView').show();

  });
</script>

<script type="text/javascript">
  $('#querying_1').hide();
  $('#querying_2').hide();
  $('#viewDataBtn1').click(function () {
    $('#querying_1').show();
    $.get("/prototype/userView", { device: 1 }, function (data, status) {
      location.reload();
    });
  });
  $('#viewDataBtn2').click(function () {
    $('#querying_2').show();
    $.get("/prototype/userView", { device: 2 }, function (data, status) {
      location.reload();
    });
  });

  $('#decryptBtn').click(function () {
    $.post("/prototype/decryptRSA", { cipher: $("#userText").text() }, function (data, status) {
      $('#userText').text(data);
    });
  });



  $('#measureBtn1').click(function () {
    $.get("/prototype/genData", { device: 1 }, function (data, status) {
      alert("Data: " + data + "\nStatus: " + status);
      location.reload();
    });
  });

  $('#measureBtn2').click(function () {
    $.get("/prototype/genData", { device: 2 }, function (data, status) {
      alert("Data: " + data + "\nStatus: " + status);
      location.reload();
    });
  });

</script>