<h2>User View</h2>


<form id="genData" method="get"  action="/prototype/genData">

  <select name="device">
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
    <button id="createDataBtn">Click to Do Measurement</button>

</form>


<form id="userView" method="get" action="/prototype/userView">
  <select name="device" id='device'>
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
  
  <button id="viewDataBtn"> View My Latest Data </button><img src="http://www.lanrentuku.com/savepic/img/allimg/1212/5-121204193R0.gif" id='loadingMyData'/ >

</form>

<br>
<br>
<h2>User Text</h2>
<p id='userText'><%=userText%></p>
<button id='decryptBtn'>Decrypt</button>
