<br><br>
<h2>User View:</h2>

<form id="userView" method="get" action="/prototype/userView">
  <select name="device">
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
  <br><br>
  <button id="viewDataBtn"> View My Data </button>

<h2>User Text:</h2>
<h3><%=userText%></h3>
</form>
