<h2>User View</h2>

<form id="userView" method="get" action="/prototype/userView">
  <select name="device" id='device'>
    <option value="1" selected> Blood Pressure Meter </option>
    <option value="2"> Weight Scale </option>
  </select>
</form>
<button id="viewDataBtn"> View My Data </button>


<br>
<br>
<h2>User Text</h2>
<textarea readonly='readonly' style="min-height: 150px" id='userText'><%=userText%></textarea>

<button id='decryptBtn'>Decrypt</button>
<script type="text/javascript">
  
 $('#decryptBtn').click(function(){
    $.post("/prototype/decryptRSA",{cipher:$("#userText").text()},function(data,status){
      
      $('#userText').text(data);
      
    });
  });
  
  $('#viewDataBtn').click(function(){
    

    $.get("/prototype/userView",{device:$('#device').val()},function(data,status){
        
        $('#userText').text(data);
        
      });
  });
</script>
